<h1 class="text-3xl font-bold text-center mb-3">DocuShare</h1>
<h2 class="text-center text-slate-300">Get an easy to share link by uploading your file here.</h2>

<div class="bg-white rounded-lg mx-20 mt-5 text-slate-900 p-4">
  <%= form_with model: @document, class: "flex flex-col" do |form| %>
  <% if @document.errors.any? %>
    <div id="text-red-900">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>
      <ul>
        <% @document.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.label :file, "Document:" %>
  <%= form.file_field :file, class: "file:mr-4 file:py-2 file:px-4
      file:rounded-full file:border-0
      file:text-sm file:font-semibold
      file:bg-sky-50 file:text-sky-700
      file:cursor-pointer
      hover:file:bg-sky-100" %>
  <%= form.submit "Create link", class: "btn-primary m-auto" %>
<% end %>
</div>
