<!DOCTYPE html>
<html>
  <head>
    <title>DocuShare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-800 text-white">
    <% if flash[:alert] %>
      <div class="bg-red-300 text-slate-900 text-center">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div class="bg-green-300 text-slate-900 text-center">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <main class="container mx-auto mt-28 px-5">
      <%= yield %>
    </main>
  </body>
</html>
