<!DOCTYPE html>
<html>
  <head>
    <title>DocuShare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-800">
    <% if flash[:alert] %>
      <div class="bg-red-300 text-slate-900 text-center">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div class="bg-green-300 text-slate-900 text-center">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <div class="flex justify-end p-2">
      <% if user_signed_in? %>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn-primary" %>
      <% else %>
        <%= button_to "Register to save documents", new_user_registration_path, method: :get, class: "btn-primary mr-2" %>
        <%= button_to "Sign in", new_user_session_path, method: :get, class: "btn-primary" %>
      <% end %>
    </div>

    <%= link_to root_path do %>
      <h1 class="text-3xl font-bold text-center mb-3 text-white">DocuShare</h1>
    <% end %>

    <main class="container mt-10 mx-auto px-10 py-5 bg-white rounded-lg">
      <%= yield %>
    </main>
  </body>
</html>
